# Programming Assignment 1

In [2]:
import numpy as np
import pandas
import re
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

1) Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [559]:
print data['Sex'].value_counts()[0], data['Sex'].value_counts()[1]

577 314

2) Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [9]:
survived_num = data[data['Survived'] == 1]['Survived'].sum()
total = len(data.index)
survived_share = survived_num / float(total)
print round(survived_share*100, 2)

38.38

3) Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [576]:
firstClass_num = data[data['Pclass'] == 1]['Pclass'].sum()
total = len(data.index)
firstClass_share = firstClass_num / float(total)

891

4) Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [62]:
age_mean = data['Age'].mean()
age_median = data['Age'].median()
print round(age_mean,2), age_median

29.7 28.0

5) Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [77]:
data[['SibSp', 'Parch']].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

6) Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [536]:
names = data['Name'].copy()

female_names_dic = {}
male_names = []
unknown = []
counter = 1


for name in names:
    if re.search(r'(\sMrs\.)|(\sMiss\.)|(\sMrs\.)|(\sMiss\.)|(Mlle.)|(Lady.)', str(name)) != None:
        # then it's a woman
        start = re.search(r'(\sMrs\.)|(\sMiss\.)|(\sMrs\.)|(\sMiss\.)|(Mlle.)|(Lady.)', str(name)).end()
        end = re.search(r'(\sMrs\.\s+\w+)|(\sMiss\.\s+\w+)|(\sMrs\.\s+.\w+)|(\sMiss\.\s+.\w+)|(Mlle.\s+.\w+)|(Lady.\s+.\w+)', str(name)).end()
        female_names_dic.update({ counter: str(name)[start:end]})
    elif re.search(r'(\sMr\.)|(Master\.)|(Rev.)|(Major.)|(Sir.)|(Dr.)', str(name)) != None:
        start = re.search(r'(\sMr\.)|(Master\.)|(Rev.)|(Major.)|(Sir.)|(Dr.)', str(name)).end()
        end = re.search(r'(\sMr\.\s+.\w+)|(Master\.\s+.\w+)|(Rev.\s+.\w+)|(Major.\s+.\w+)|(Sir.\s+.\w+)|(Dr.\s+.\w+)', str(name)).end()
        male_names.append(str(name)[start:end])
    elif str(name) == "nan":
        print "NA"
    else: 
        unknown.append(name)
        #print "No sex identification", name.index
    counter += 1
    
for i in xrange(len(male_names)):
    male_names[i] = re.sub(r'\s','', str(male_names[i]))
    
for key in sorted(female_names_dic.keys()):
    clean = re.sub(r'\s', '', female_names_dic.get(key))
    female_names_dic.update({key: clean})

for key in sorted(female_names_dic.keys()):
    if female_names_dic.get(key) in male_names:
        try: 
            true_name = re.search(r'\(\w+', names[key]).group()
            true_name = re.sub(r'\(', '', str(true_name))
            female_names_dic.update({key: true_name})
        except AttributeError:
            next

female_names_DF = pandas.DataFrame(female_names_dic.values(), columns = ["Name"])
#print female_names[1:10]
counts = female_names_DF["Name"].value_counts()
print counts[[0]].index[0]

In [538]:

#for i in xrange(len(female_names)):
    #female_names[i][0] = re.sub(r'\(', "", str(female_names[i]))
    #print female_names[i][0]

Anna